.main {
  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 2rem 2rem;
  }
}

.infoBlock {
  @media (min-width: 48rem) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.blogBlock {
  @media (min-width: 48rem) {
    grid-area: 1 / 2 / 3 / 4;
  }
}

.about {
  margin-bottom: 2rem;
}
